@page
@model FalknerCountyJuvenileCourt.Pages.Juveniles.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Juvenile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Juvenile.ID" />
            <div class="form-group">
                <label asp-for="Juvenile.ID" class="control-label"></label>
                <div>@Html.DisplayFor(model => model.Juvenile.ID)</div>
            </div>
            <div class="form-group">
                <label asp-for="Juvenile.Age" class="control-label"></label>
                <input asp-for="Juvenile.Age" class="form-control" />
                <span asp-validation-for="Juvenile.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Juvenile.Race" class="control-label"></label>
                <select asp-for="Juvenile.Race.ID" class="form-control" 
                        asp-items="@Model.RaceNameSL"></select>
                <span asp-validation-for="Juvenile.Race.ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Juvenile.Gender" class="control-label"></label>
                <select asp-for="Juvenile.Gender.ID" class="form-control" 
                        asp-items="@Model.GenderNameSL"></select>
                <span asp-validation-for="Juvenile.Gender.ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Juvenile.Risk" class="control-label"></label>
                <select asp-for="Juvenile.Risk.ID" class="form-control" 
                        asp-items="@Model.RiskNameSL"></select>
                <span asp-validation-for="Juvenile.Risk.ID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Juvenile.Repeat" /> @Html.DisplayNameFor(model => model.Juvenile.Repeat)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
